extends ../common/layout 

block layout-content
    div.container
        div.row
            div.col
                h1.page-title Vinyl Frontier | Admin Home
                h2 Admin Functions
                ul
                    li
                        a(href="/admin/menu/nav") Navigation Menu Admin
                    li
                        a(href="/admin/menu/records") Record Admin
                    li
                        a(href="/admin/menu/products") Products Admin
